body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 40px 0;
}

#calculator {
  font-family: Arial, sans-serif;
  background-color: #515154;
  border-radius: 15px;
  border: 2px solid black;
  max-width: 350px;
  overflow: hidden;
  
}

#display {
  padding: 10px;
  font-size: 3rem;
  text-align: left;
  background-color: #bebec2;
  border: 8px solid;
  max-width: 315px;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 15px;
}

button {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: none;
  background-color: black;
  color: white;
  font-size: 3em;
  font-weight: bold;
  cursor: pointer;
  
}

@media screen and (min-width: 768px) {
  #calculator {
   max-width: 500px;
  
}
#display {
  border: 8px solid;
  max-width: 440px;
  font-size: 5rem;
}

#keys {
 
  padding: 25px;
}

button {
  width: 90px;
  height: 90px;
    
}

}

button:hover {
  background-color: grey;
}

button:activ {
  background-color: grey;
}

.operaftor-btn {
  background-color: orange;
}

.operaftor-btn:hover {
  background-color: #ee8b0a;
}

.operaftor-btn:activ {
  background-color: #ee8b0a;
}